PORT=3000
OPENAI_API_KEY=55DlTT2xeBJG6RxET8yMNOIa51_byN6LYxyv3N3D5XCFBKmmFU6ejO-QOjblinJsifim3I7MBnT3BlbkFJs3EciFDV7EOHhBnFeX_Qtyp_Y2OWhLDVqvrkq1slEOluaOkWO8QOZEtLFMdtc5sE8Zdj2Pzq8A
OPENAI_MODEL=gpt-4.1
REQUEST_TIMEOUT_MS=30000
CORS_ORIGIN=*
LOG_LEVEL=info
